@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-light-red: hsl(0, 100%, 67%);
  --color-orange-yellow: hsl(39, 100%, 56%);
  --color-green-tea: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* Background*/
  --color-light-state-blue: hsl(252, 100%, 67%);
  --color-light-royal-blue: hsl(241, 81%, 54%);
  --color-violet-blue: hsla(256, 72%, 46%, 1);
  --color-persian-blue: hsla(241, 72%, 46%, 0);

  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  margin: 0;
  font-family: "Hanken Grotesk";
}

.container {
  background: var(--color-white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--color-pale-blue);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
}

.card .result {
  background: linear-gradient(
    to left top,
    var(--color-light-royal-blue),
    var(--color-light-state-blue)
  );
  text-align: center;
  padding: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
